@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.logo {
  margin-right: 20px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1920px;
  max-width: 98%;
}

.table_of_content {
  margin-right: 20px;
  width: 400px;
  max-width: 95%;
  height: 95%;
  background-color: #f8f0e5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 14px;
}

@media (max-width: 1490px) {
  .table_of_content {
    position: static;
    top: auto;
    margin-right: 0px;
  }
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.list {
  margin-left: 20px;
}

.ci {
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
}

.mci {
  margin-bottom: 15px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding-bottom: 60px;
  width: 1024px;
  max-width: 98%;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: #cecece;
}

.section {
  width: 1024px;
  max-width: 98%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subsection {
  width: 1024px;
  max-width: 98%;
  margin: 0px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.step {
  width: 1024px;
  padding: 15px 0px;
  max-width: 98%;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f1f1f1;
  border-radius: 5px;
}

.description {
  color: #000030;
  width: 400px;
  max-width: 98%;
  margin: 0px 10px;
}

.code {
  color: green;
  width: 400px;
  max-width: 98%;
  margin: 5px;
  margin-left: 30px;
}

.double_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  max-width: 98%;
}

.snapshot {
  width: 500px;
  margin: 5px;
  max-width: 98%;
  height: auto;
}

.mobile_snapshot {
  width: 300px;
  margin: 15px;
  margin-bottom: 25px;
  max-width: 98%;
  height: auto;
}

.section_title {
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 20px;
  font-weight: 900;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.subsection_title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.step_title {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: 900;
}

.main_title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 1200;
}

#scrollTopFB {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 48, 0.5);
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */