
$content_width: 1024px;
$snapshot_width: 500px;
$mobile_snapshot_width: 300px;
$description_width: 400px;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.logo{
  margin-right: 20px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 1920px;
  max-width: 98%;
}

.table_of_content{
  margin-right: 20px;
  width: 400px;
  max-width: 95%;
  height: 95%;
  background-color: rgb(248, 240, 229);
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 14px;
}

@media (max-width: 1490px) {
  .table_of_content{
    position:static;
    top: auto;
    margin-right: 0px;
  }
}

ul{
  text-decoration: none;
  list-style-type: none;
}

.list{
  margin-left: 20px;
}

.ci{
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
}

.mci{
  margin-bottom: 15px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding-bottom: 60px;
  width: $content_width;
  max-width: 98%;
  background: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(206, 206, 206);
}


.section{
  width: $content_width;
  max-width: 98%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.subsection{
  width: $content_width;
  max-width: 98%;
  margin: 0px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.step{
  width: $content_width;
  padding: 15px 0px;
  max-width: 98%;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: rgb(241, 241, 241);
  border-radius: 5px;

}

.description{
  color: rgb(0, 0, 48);
  width: $description_width;
  max-width: 98%;
  margin: 0px 10px;
}

.code{
  color: green;
  width: $description_width;
  max-width: 98%;
  margin: 5px;
  margin-left: 30px;
}

.double_description{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $description_width;
  max-width: 98%;

}

.snapshot{
  width: $snapshot_width;
  margin: 5px;
  max-width: 98%;
  height: auto;
  
}

.mobile_snapshot{
  width: $mobile_snapshot_width;
  margin: 15px;
  margin-bottom: 25px;
  max-width: 98%;
  height: auto;
  
}

.section_title{
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 20px;
  font-weight: 900;
  align-self: flex-start;

}

.subsection_title{
  align-self: flex-start;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.step_title{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: 900;
}

.main_title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 1200;
}


#scrollTopFB {

  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 48, 0.5);
  color: white;
  cursor: pointer;
}


#scrollTopFB:hover {

  background-color: rgb(0, 0, 48);

}