@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.logo {
  margin-right: 40px;
  width: 50px;
  height: 50px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 2000px;
  max-width: 98%;
}

.table_of_content {
  margin-right: 20px;
  max-width: 98%;
  height: 95%;
  background-color: #f8f0e5;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  padding: 10px;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

.list {
  margin-left: 20px;
}

.ci {
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
}

.mci {
  margin-bottom: 15px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
  width: 1024px;
  max-width: 98%;
  background: #f5f4f4;
}

.section {
  width: 1024px;
  max-width: 98%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subsection {
  width: 1024px;
  max-width: 98%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.step {
  width: 1024px;
  max-width: 98%;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.description {
  color: #000030;
  width: 400px;
  max-width: 98%;
  margin: 30px 10px;
}

.code {
  color: green;
  width: 400px;
  max-width: 98%;
  margin: 5px;
  margin-left: 30px;
}

.double_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  max-width: 98%;
}

.snapshot {
  width: 500px;
  margin: 5px;
  max-width: 98%;
}

.mobile_snapshot {
  width: 300px;
  margin: 15px;
  margin-bottom: 25px;
  max-width: 98%;
}

.subsection_title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.section_title {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-weight: 900;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.step_title {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: 900;
}

.main_title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 1200;
}
/*# sourceMappingURL=style.css.map */