
$content_width: 1024px;
$snapshot_width: 500px;
$mobile_snapshot_width: 300px;
$description_width: 400px;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{

  // background-image: linear-gradient(to bottom right, rgb(135, 126, 226), rgba(245, 222, 179, 0.075));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  width: $content_width;
  max-width: 98%;
  background: mintcream;
  border-radius: 8px;
  box-shadow: 1px 2px 6px 3px rgba(0, 0, 0, 0.3);
}


.section{
  width: $content_width;
  max-width: 98%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.subsection{
  width: $content_width;
  max-width: 98%;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.step{
  width: $content_width;
  max-width: 98%;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.description{
  color: rgb(0, 0, 48);
  width: $description_width;
  max-width: 98%;
  margin: 30px 10px;
  
  
}

.code{
  color: green;
  width: $description_width;
  max-width: 98%;
  margin: 5px;
  margin-left: 30px;
}

.double_description{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $description_width;
  max-width: 98%;

}

.snapshot{
  width: $snapshot_width;
  margin: 5px;
  max-width: 98%;
  
}

.mobile_snapshot{
  width: $mobile_snapshot_width;
  margin: 15px;
  margin-bottom: 25px;
  max-width: 98%;
  
}

.subsection_title{
  align-self: flex-start;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.section_title{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-weight: 900;
  align-self: flex-start;

}

.step_title{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: 900;
}

.main_title{
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 1200;
}